# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# Secrets
lib/core/constants/secrets.dart

# OS
.DS_Store
Thumbs.db
